* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
@media (min-width: 992px) {
    .header__more {
        order: 1;
    }
}

.navbar a,
.auth-form-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
}

.navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(251, 251, 253, .8);
}

.navbar a:hover {
    transform: scale(1.1);
    transition: transform .4s;
}

.header__more i:hover,
.auth-form-btn:hover {
    opacity: .7;
}